<!DOCTYPE html>
<html>

<body>

    <h2>Weather App</h2>

    <form method="POST">
        {% csrf_token %}
        Enter City: <input type="text" name="city">
        <button type="submit">Get Weather</button>
    </form>

    <hr>

    {% if weather %}
    <h3>Weather Details</h3>
    <p>City: {{ weather.city }}</p>
    <p>Temperature: {{ weather.temperature }} °C</p>
    <p>Description: {{ weather.description }}</p>
    {% endif %}

    {% if error %}
    <p style="color:red;">{{ error }}</p>
    {% endif %}

</body>

</html>